In [2]:
import numpy, pandas 
import matplotlib.pyplot as plt 


df = pandas.read_csv('Salaries.csv')

C:\Users\SAUMI\AppData\Local\Temp\ipykernel_3536\2522247804.py:5: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pandas.read_csv('Salaries.csv')

In [3]:
df_2011= df[df["Year"] == 2011]

df_2014 = df[df["Year"] == 2014]

total_salary_2011 = df_2011["TotalPay"].sum()

total_salary_2014 = df_2014["TotalPay"].sum()

total_change_2011_2014 = float(total_salary_2014) - float(total_salary_2011)

print("Total change from 2011 to 2014 is " + str(total_change_2011_2014))

Total change from 2011 to 2014 is 282797920.53999996

In [4]:
df_mean_pay_job_wise= df_2014[['JobTitle','TotalPay']].groupby('JobTitle').mean()

df_pay_list =df_mean_pay_job_wise.sort_values(by='TotalPay',ascending=False)

print('Job Title with highest mean salary in the year 2014 is :')

df_pay_list.head()

Job Title with highest mean salary in the year 2014 is :

                               TotalPay
JobTitle
Chief Investment Officer     339653.700
Chief of Police              326716.760
Chief, Fire Department       326233.440
Gen Mgr, Public Trnsp Dept   294000.180
Dep Chf of Dept (Fire Dept)  285575.785

In [5]:
total_overtimepay_2014 = df_2014["OvertimePay"].sum()

print(str(float(total_overtimepay_2014)) +" money could have been saved ")

205918599.26999998 money could have been saved in Year 2014 by stopping OverTimePay

In [15]:
grouped_df_5_common = df_2014.groupby(["Year", "JobTitle"]).agg("count").filter(
    ["Year", "TotalPay", "JobTitle"]).sort_values("TotalPay", ascending=False)

print(grouped_df_5_common.head(5))

                                   TotalPay
Year JobTitle
2014 Transit Operator                  2479
     Special Nurse                     1478
     Registered Nurse                  1234
     Public Svc Aide-Public Works       916
     Firefighter                        815

In [6]:
df.loc[df.groupby('Year')['TotalPay'].idxmax(),['EmployeeName','TotalPay','Year','JobTitle']]

,EmployeeName,TotalPay,Year,JobTitle
0,NATHANIEL FORD,567595.43,2011,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
36158,Gary Altenberg,362844.66,2012,"Lieutenant, Fire Suppression"
72925,Samson Lai,347102.32,2013,"Battalion Chief, Fire Suppress"
110529,David Shinn,471952.64,2014,Deputy Chief 3