In [3]:
import numpy, pandas 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn import svm
from sklearn import metrics
df = pandas.read_csv('College.csv')

df.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [4]:

labelencoder = LabelEncoder()

df["Private"] = labelencoder.fit_transform(df["Private"])

X = df.iloc[:, 1:]
Y = df["Private"]

train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.30, random_state=10)

In [5]:
model_svm = svm.LinearSVC()

model_svm.fit(train_x, train_y)

predicted_values = model_svm.predict(test_x)


metrics.accuracy_score(predicted_values, test_y)

C:\Users\SAUMI\AppData\Roaming\Python\Python310\site-packages\sklearn\svm\_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.9017094017094017