In [1]:
import numpy, pandas 
import matplotlib.pyplot as plt 


df = pandas.read_csv('prisoners.csv')

In [3]:
print(df.head(5))

            STATE/UT  YEAR  No. of Inmates benefitted by Elementary Education  \
0     Andhra Pradesh  2013                                               9480
1  Arunachal Pradesh  2013                                                  0
2              Assam  2013                                                676
3              Bihar  2013                                               1693
4        Chhatisgarh  2013                                               1664

   No. of Inmates benefitted by Adult Education  \
0                                         13758
1                                             0
2                                           750
3                                          3013
4                                          1803

   No. of Inmates benefitted by Higher Education  \
0                                            672
1                                              0
2                                             14
3                                            125
4                                            192

   No. of Inmates benefitted by Computer Course
0                                           170
1                                             0
2                                            30
3                                          1417
4                                           103

In [4]:
print(df.tail(5))

        STATE/UT  YEAR  No. of Inmates benefitted by Elementary Education  \
30  D & N Haveli  2013                                                  0
31   Daman & Diu  2013                                                  0
32         Delhi  2013                                               1458
33   Lakshadweep  2013                                                  0
34   Pondicherry  2013                                                  0

    No. of Inmates benefitted by Adult Education  \
30                                             0
31                                             0
32                                          1187
33                                             0
34                                             0

    No. of Inmates benefitted by Higher Education  \
30                                              0
31                                              0
32                                            908
33                                              0
34                                              0

    No. of Inmates benefitted by Computer Course
30                                             0
31                                             0
32                                           174
33                                             0
34                                             0

In [5]:
print(df.describe())

         YEAR  No. of Inmates benefitted by Elementary Education  \
count    35.0                                          35.000000
mean   2013.0                                        1057.914286
std       0.0                                        2078.196777
min    2013.0                                           0.000000
25%    2013.0                                           0.000000
50%    2013.0                                         167.000000
75%    2013.0                                        1294.500000
max    2013.0                                        9480.000000

       No. of Inmates benefitted by Adult Education  \
count                                     35.000000
mean                                    1534.857143
std                                     3022.110503
min                                        0.000000
25%                                        6.500000
50%                                      237.000000
75%                                     1733.500000
max                                    13758.000000

       No. of Inmates benefitted by Higher Education  \
count                                      35.000000
mean                                      237.457143
std                                       375.614191
min                                         0.000000
25%                                         2.000000
50%                                        33.000000
75%                                       234.500000
max                                      1353.000000

       No. of Inmates benefitted by Computer Course
count                                     35.000000
mean                                     210.171429
std                                      359.117340
min                                        0.000000
25%                                        0.000000
50%                                       38.000000
75%                                      227.500000
max                                     1417.000000