In [2]:
import numpy, pandas

In [3]:
df = pandas.DataFrame({'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
                   'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'],
                   'age': [42, 52, 36, 24, 73],
                   'preTestScore': [4, 24, 31, ".", "."],
                   'postTestScore': ["25,000", "94,000", 57, 62, 70]})

In [4]:
df.to_csv("example.csv")

********************

In [5]:
df = pandas.read_csv("example.csv")
print(df)

   Unnamed: 0 first_name last_name  age preTestScore postTestScore
0           0      Jason    Miller   42            4        25,000
1           1      Molly  Jacobson   52           24        94,000
2           2       Tina         .   36           31            57
3           3       Jake    Milner   24            .            62
4           4        Amy     Cooze   73            .            70

In [6]:
df_without_header = pandas.read_csv("example.csv", header=None)
print(df_without_header)

     0           1          2    3             4              5
0  NaN  first_name  last_name  age  preTestScore  postTestScore
1  0.0       Jason     Miller   42             4         25,000
2  1.0       Molly   Jacobson   52            24         94,000
3  2.0        Tina          .   36            31             57
4  3.0        Jake     Milner   24             .             62
5  4.0         Amy      Cooze   73             .             70

In [7]:
df_with_index = pandas.read_csv("example.csv", index_col=["first_name", "last_name"])
print(df_with_index)

                      Unnamed: 0  age preTestScore postTestScore
first_name last_name
Jason      Miller              0   42            4        25,000
Molly      Jacobson            1   52           24        94,000
Tina       .                   2   36           31            57
Jake       Milner              3   24            .            62
Amy        Cooze               4   73            .            70

In [8]:
boolean_df = df.isnull().any()
print(boolean_df)

Unnamed: 0       False
first_name       False
last_name        False
age              False
preTestScore     False
postTestScore    False
dtype: bool

In [9]:
df_skip_rows = pandas.read_csv("example.csv", skiprows=3)
print(df_skip_rows)

   2  Tina       .  36 31  57
0  3  Jake  Milner  24  .  62
1  4   Amy   Cooze  73  .  70

In [10]:
df_new = pandas.read_csv("example.csv", thousands=",")
print(df_new)

   Unnamed: 0 first_name last_name  age preTestScore  postTestScore
0           0      Jason    Miller   42            4          25000
1           1      Molly  Jacobson   52           24          94000
2           2       Tina         .   36           31             57
3           3       Jake    Milner   24            .             62
4           4        Amy     Cooze   73            .             70