In [ ]:
import numpy, pandas

In [ ]:
a = ['Amit', 'Bob', 'Kate', 'A', 'b', numpy.nan, 'Car', 'dog', 'cat']

myvar = pandas.Series(a)

print(myvar.str.lower())

print(myvar.str.upper())

print(myvar.str.len())

In [ ]:
b = [' Atul', 'John ', ' jack ', 'Sam']

myvar1 = pandas.Series(b)

print(myvar1.str.lower())

print(myvar1.str.upper())

print(myvar1.str.len())

In [ ]:
c = ['India_is_big', 'Population_is_huge', numpy.nan, 'Has_diverse_culture']

myvar2 = pandas.Series(c)

print(myvar2.str.split("_"))

print(myvar2.str.split("_").str.get(1))

print(myvar2.str.split("_" ,expand=True))

In [ ]:
d = ['A', 'B', 'C', 'AabX', 'BacX','', numpy.nan, 'CABA', 'dog', 'cat']

myvar3 = pandas.Series(d)

print(myvar3.str.replace('^.a|dog','XX-XX',case=False))

In [ ]:
e = ['12', '-$10', '$10,000']

myvar4 = pandas.Series(e)

print(myvar4.str.replace('$',''))

In [ ]:
f = ['India 1998', 'big country', numpy.nan]

myvar5 = pandas.Series(f)
pattern = r'[a-z]+'
replacement = lambda x :x.group(0)[::-1]

print(myvar5.str.replace(pattern,replacement))

In [ ]:
g = ['1', '2', '1a', '2b', '2003c']

myvar6 = pandas.Series(g)

print(myvar6.str.contains(r'[0-9][a-z]'))

In [ ]:
h = ['1', '2', '1a', '2b', 'America', 'VietnAm','vietnam', '2003c']

myvar7 = pandas.Series(h)

print(myvar7.str.contains('A',na=False))

In [ ]:
i = ['a', 'a|b', numpy.nan, 'a|c']

myvar8 = pandas.Series(i)

print(myvar8.str.get_dummies(sep='|'))

In [ ]:
left_l = pandas.DataFrame({'key': ['One', 'Two'], 'ltable': [1, 2] })

right_l = pandas.DataFrame({'key': ['One', 'Two'], 'rtable': [4, 5] })

new_list = pandas.merge(left_l,right_l,on=['key'])

print(new_list)